# REQUIRED - The ID of your Sanity project
PUBLIC_SANITY_PROJECT_ID=""
# REQUIRED - The dataset of your Sanity project
PUBLIC_SANITY_DATASET=""
# REQUIRED - The generated read token, used to fetch data on the server
SANITY_API_READ_TOKEN=""
# optional - The Sanity API version to use
PUBLIC_SANITY_API_VERSION=""
# optional - The URL of your Sanity Studio
PUBLIC_SANITY_STUDIO_URL=""